.input {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 1.2em;

  &>label {
    position: absolute;
    display: block;
    margin: -1em 0 0 1em;
    padding: 0 0.5em;
    background-color: white;
    font-weight: bold;
  }

  &>input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}

.button {
  padding: 20px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
}