/* CSS code to style the top navbar with dropdowns */

/* Navbar container */
#Navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 0.5rem 1rem;
  gap: 1rem;
  margin: -1rem -0.5rem 0 -0.5rem;
}

/* Category container */
.category {
  position: relative;
  padding: 0.5rem 1rem;

  &:hover {
    background-color: #666;

    & .categoryContents {
      display: block;
      z-index: 1;
    }
  }
}

/* Category contents */
.categoryContents {
  position: absolute;
  left: 0;
  right: 0;
  display: none;

  margin: 0;
  padding: 0.5rem;
  list-style-type: none;
  background-color: #666;
}

/* Link styles */
.categoryTitle {
  font-weight: bold;
}

.categoryTitle,
.link {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 0.5rem 1rem;
}

.link {
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #888;
  }
}